<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ConsoleData_Display_Excel.PMS_Login2"/>
      <class name="com.ConsoleData_Display_Excel.PMS_Login"/>
      <class name="com.ConsoleData_Display_Excel.Newtours_Register_Countrynames"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
